<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datas</title>
    

</head>
<body onload="contarcomb()">
    <h1>Welcome to Megacinco</h1>
  
    <h1>
        <%= listTitlehamesh %>
    </h1>
    <h2>
      <p id="res1"> res: <%= listsearchc1 %></p><br>
       res: <%= listsearchc2 %><br>
       res: <%= listsearchc3 %><br>
       res: <%= listsearchc4 %>
       res: <%= listsearchc5 %>

    </h2>
     
    <p>Essa combinação já foi sorteada <p id="tablelong"></p> vezes.</p>
    <table border="1px" solid>
        <thead>  
            <tr>
                <th>concurso</th>
                <th>n1</th>
                <th>n2</th>
                <th>n3</th>
                <th>n4</th>
                <th>n5</th>
                <th>n6</th>
            </tr>
        </thead>
        <tbody id="tabela-tres">



            <% for(let itemb of listItemscinco){%>
           
                <tr>    
                    <td><%= itemb.concurso %></td>
                    <td><%= itemb.n1 %></td>
                    <td><%= itemb.n2 %></td>
                    <td><%= itemb.n3 %></td>
                    <td><%= itemb.n4 %></td>
                    <td><%= itemb.n5 %></td>
                    <td><%= itemb.n6 %></td>
                </tr>
            </p>
            <% } %>
        </tbody>
    </table>  

   
    
    
  <script>
   console.log("res1 " + res1.innerHTML)

   function contarcomb(){
            const tableconc = document.getElementById("tabela-tres");
            const totalRows = tableconc.rows.length;
            tablelong.innerHTML = totalRows; // il double le numero de colonnes why ????  
   }

  

  </script>
</body>
</html>